PORT = #puerto de conexion con el servidor
DB_HOST = #host de la base de datos
DB_PORT = #puerto de la base de datos
DB_NAME = #nombre de la base de datos
DB_USER =  #usuario de la base de datos
DB_PASSWORD = #contraseña del usuario de la base de datos
DB_MAX_CONNECT = #numero maximo de conexiones a la base de datos
DB_IDLETIMEOUT =  #tiempo que una conexion puede estar inactiva antes de ser cerrada
DB_CONNECTIONTIMEOUT = #tiempo que una conexion puede estar esperando para ser establecida antes de ser cerrada